.footer{
    position: absolute ;
    position:fixed;bottom:0;left:0;right:0;height:10vh;
    background-color: rgb(0, 0, 0);
    width: 100%;
    text-align: center;
    /* min-height: 10vh;
    max-height: 15vh; */
    
  }